@model IEnumerable<FindAFelineApp.Services.DTOs.FosterParentDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<div class="d-flex flex-wrap justify-content-between">
@foreach (var item in Model) {
    <div class="card p-3 col-lg-3 col-md-5 col-sm-12 mx-lg-3 mb-3">
        <h3 class="text-center mt-2">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.ModelLastName)</h3>
            <div class="d-flex flex-wrap justify-content-between">
            <a class="btn btn-warning mr-3" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-primary mr-3" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>
    </div>
}
</div>