@using FindAFelineApp.Services.DTOs
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Find A Feline!</h1>
    <p>Find the perfect cat for you and your home</p>
</div>

<div class="d-flex">
        @foreach (CatDTO item in ViewBag.Cats)
        {
            <div class="card">
                <p>
                    @Html.DisplayFor(modelItem => item.Name)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.Breed)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.Age)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.Color)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.Personality)
                </p>
                <p>
                    <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="" width="150" />
                </p>
                <p>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </p>
            </div>
        }
</div>
